.about
	display block
	
	&__text
		width 100%
		position relative
		height 55px
		font-weight 400
		font-size 30px
		font-family cour	
		background transparent
		border none
		outline none
		color #231f20
		border-bottom 3px solid #231f20
		padding-bottom 5px

