.header
	position relative
	height 270px
	
	&__logo
		position absolute
		sprite $logo
		left 113px
		top 68px 
	
	&__print
		position absolute
		sprite $print
		right 54px
		top 45px
		
	&__title
		position absolute
		sprite $title
		left 370px
		top 156px