.info
	font-family cour
	
	&__input_box
		display flex
		margin-bottom 19px
	
	&__label
		font-family pt-sans
		font-weight 600
		font-size 22px
		font-style normal
		color #2f1b15
		flex-grow 0
		
	&__text
		flex-grow 1
		font-family cour
		font-size 30px
		font-style normal
		font-weight 400
		color #231f20
		border none
		background none
		border-bottom 2px solid #231f20
		outline none
		position relative
		top -22px
		padding-bottom 7px
		margin-left 19px
		padding-left 13px