.future
	display block
	position relative
	margin-top 60px
	
	&__radio
		clearfix()
		position relative
		top -15px
	
	&__label
		clearfix()
		float left
		position relative
		margin-right 22px
	
	&__label-custom
		position relative
		left 2px
		top 3px
		font-size 20px
		font-weight 600
		font-style normal
		
	&__radio-custom
		position relative
		sprite $radio
		display inline-block
		vertical-align middle
		
	.radio:checked + &__radio-custom:before
		content ""
		display inline-block
		sprite $radio_checked
